body{
    direction: rtl;
    margin: 0;
    padding: 0;
}
header{
    min-height: 150px;
    background-image:url("../img/email-pattern.png");
    border-bottom: 2px solid #000;
    border-radius: 0 0 10px 10px;
}
.search{
    width: 300px;
    margin-top: 50px;
}
.float-Left{
    float: left;
}
.search-INP{
    height: 25px;
    padding-right: 15px;
    border-radius: 0 15px 15px 0;
    outline: none;
}
.search-BTN{
    margin: 0px;
    padding-left: 15px;
    border-radius: 15px 0 0 15px;
    outline: none;
    position: relative;
    top: 5px;

}
.shopped{
    width: 210px;
    height: 30px;
    margin-top: 5px;
    padding: 2px 15px;
    background-color: #686d6b;
    border-radius: 15px;
}
.nav{
    height: 40px;
    background-image: url("../img/beanstalk.png");
    border-bottom: 1px solid #999999;
    border-radius: 0 0 10px 10px;
}
.nav > ul{
    display: block;
    margin: 0;
    padding: 0;
}
.nav > ul >li{
    list-style: none;
    border-left: 1px solid #000;
    float: right;
    font-size: 17px;
    text-align: center;
}
.nav > ul > li:last-child{
     float: left;
     border: none;
    border-right: 1px solid #000;
 }
.nav > ul >li > a{
    display: block;
    padding: 5px 10px;
    font-weight: bold;
}
.nav > ul > li:last-child >a{
    padding: 10px;
}
.nav > ul >li > a:hover{
    background-color: rgba(180 , 180 , 180 , 0.2);
}

footer{
    text-align: center;
    font-size: large;
    background-color: #999;
    height: 35px;
}